body {
  background-color: rgb(221, 236, 246);
}

h1 {
  font-family: Verdana, sans-serif;
  font-size: 20px;
  color: rgb(220, 59, 167);
  text-align: center;
  background-image: url(https://png.pngtree.com/background/20210715/original/pngtree-white-flowers-on-blue-background-floral-background-picture-image_1317459.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

p {
  font-size: 14px;
}

a#botao button {
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #000;
  padding: 10px;
}

a#botao img {
  height: 100px;
}

div#imagens {
  width: 100%;
  display: flex;
}

div#imagens img {
  width: calc(100% / 3);
  display: block;
}

iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

nav {
  display: flex;
}

nav img#logo {
  width: 60px;
  height: 70px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}